<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/Users/zhangxuwei/Desktop/CODE/lib/vue.js"></script>
    <script src="/Users/zhangxuwei/Desktop/CODE/lib/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="/Users/zhangxuwei/Desktop/CODE/lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body">
                    <label>
                         Name:
                        <input type="text" v-model="name" class="form-control">
                    </label>
                    <input type="button" value="添加"  @click="add()" class="btn btn-primary">
              </div>
        </div>
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list":key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime}} </item></td>
                    <td>
                        <a herf="" @click.prevent="del(item.id)">删除</a>
                    </td>

                </tr>
            </tbody>
        </table>
        
    </div>

    <script>
        //配置了全局请求数据接口的根域名
        Vue.http.options.root = 'http://www.liulongbin.top:3005';
        //全局启用 emulateJSON 
        Vue.http.options.emulateJSON = true;
        var vm = new Vue({
            el: '#app',
            data: {
                name:'',
                list:[ //存放所有品牌的数组
                    {id:1,name:'五菱宏光',ctime:new Date()},
                    {id:2,name:'众泰',ctime:new Date()}
                ]
            },
            created(){
                this.getAllList()
            },
            methods: {
                add(){//添加品牌列表到后台服务器
                    //发送 post 请求，接收三个参数。请求的 url 地址、提交到服务器的数据（要以对象形式提交{name:this.name}）
                    //第三个参数是一个配置对象，对要以哪种表单类型提交多去{emulateJSON: true}以普通表单格式将数据提交给服务器
                    // application/x-www-form-urlencoded
                    //在 psot 方法中，使用 .then 来设置成功的回调函数，如果拿到成功的结果，需要 result.body

                    this.$http.post('api/addproduct',{name:this.name},{emulateJSON:true}).then(result=>{
                        if(result.body.status==0){
                            //成功
                            this.getAllList()
                        }else{
                            alert('添加失败')
                        }
                    })

                },
                getAllList(){//获取所有车品牌的列表
                    
                    this.$http.get('api/getprodlist').then(result=>{
                        //通过 $http 获取到的数据，都是在 result.body
                         var result = result.body;
                        if(result.status == 0){//获取成功
                            this.list = result.message
                        }else{
                            alert('获取数据失败')
                        }
                    })

                },
                del(id){//删除品牌
                    this.$http.get("api/delproduct/" + id).then(result=>{
                        if(result.body.status==0){
                            //删除成功
                            this.getAllList()
                        }else{
                            alert('删除失败')
                        }
                    })
                }

            
            }
        });
    </script>
</body>

</html>